

//SMALL SCREENS {

    @media (max-width: 767.98px) {

        header {
            position:static;
            height:auto;
            text-align:center;

            & .navbar {
                float:none;

                & li {
                    display:block;
                }

            }
            
        }

        #top-spacer {
            display:none;
        }

        .container {
            min-height:0;
            margin:1.5rem 0;
        }

        
        
    }