// 
// MartianMono-StdLt.woff2
// MartianMono-StdMd.woff2

// MartianMono-StdTh.woff2
// MartianMono-StdxBd.woff2
// MartianMono-StdxLt.woff2

@font-face {
    font-family: 'Standard';
    src: url('webfonts/MartianMono-StdRg.woff2') format('woff2');
  
    font-weight:normal;
  }
  
  
  @font-face {
    font-family: 'Standard';
    src: url('webfonts/MartianMono-StdBd.woff2') format('woff2');
    font-style: normal;
    font-weight:bold;
  }



 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  font-weight:bold;
  font-size:1rem;
  line-height:1.5;
  padding:0 0 1em 0;
  margin:0;
  
 }



header h1 {
    display:inline-block;
    margin-left:1rem;
  }
  

  .label {
    text-align:right;
    padding-right:1em;
  }

  .small,
  small {
    padding:0.15rem 0;
    font-size:0.7rem;
  }